[additional_network_arguments]
learning_rate      = 2e-5
train_text_encoder = false
text_encoder_lr    = 5e-5


[optimizer_arguments]
lr_scheduler       = "REX"
optimizer_type     = "AdamW8bit"
optimizer_args     = ["weight_decay=0.01"]
min_lr             = 0

[training_arguments]
max_train_epochs    = 50
loss_type          = "l2"
save_every_n_epochs = 50
save_last_n_epochs  = 5
train_batch_size   = 12
max_grad_norm      = 0
weighted_captions  = false
seed               = 658679
max_token_length   = 225
lowram             = false
max_data_loader_n_workers = 4
persistent_data_loader_workers = true
save_precision     = "bf16"
mixed_precision    = "bf16"
full_bf16          = true
output_dir         = "/home/bluvoll/stable-diffusion-webui-reForge/models/Lora/"
output_name        = "rebis-test"

[model_arguments]
pretrained_model_name_or_path = "/home/bluvoll/Descargas/NoobAI-RF-v0.5-step00002100.safetensors"
v2                    = false
sdxl                  = true
gradient_checkpointing = true
gradient_accumulation_steps = 4 
sdpa                  = true
no_half_vae           = true

[saving_arguments]
save_model_as = "safetensors"


[dataset_arguments]
cache_latents              = true
cache_latents_to_disk      = true
lr_warmup_steps            = 30
